<div class="search-box">
  <input #searchInput (input)="onInput($event)" (focus)="onInputFocus()" (blur)="onInputBlur()" placeholder="Hello, I'm looking for..." >
  <div class="icon-search-icon"></div>
  <div class="results-box" [ngClass]="{'results-box__active': isResultsBoxVisible()}">
    <div *ngIf="isLoading" class="loading-text">Loading...</div>
    <ul *ngIf="isResultsVisible()">
        <li *ngFor="let result of results">
            {{ result }}
        </li>
    </ul>
  </div>
</div>