.search-box {
    width: 100%;
    display: inline-block;
    position: relative;
}

input {
    width: 100%;
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-style: italic;
}

.results-box {
    display: none;
    position: absolute;
    top: 32px;
    border: 1px solid black;
    z-index: 1000;
    width: 100%;
    background-color: white;
    min-height: 100px;
    max-height: 160px;
    overflow-y: auto;

    &__active {
        display: block;
    }

}

.icon-search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}


ul {
    padding: 10px 20px;
    margin: 0;
    width: 100%;
}
li {
    list-style: none;
    font-weight: bold;
    padding: 6px;
}

.loading-text {
    height: 100px;
    line-height: 100px;
    text-align: center;
}