<div class="container-fluid">
    <div class="row"><!-- header -->
        <div class="col-xs-2 hidden-md hidden-lg hamburger-container">
          <div class="icon-menu"></div><!-- hamburger -->
        </div>
        <div class="col-md-2 col-xs-8 col-md-offset-5 header-logo">
          <div class="icon-logo"></div><!-- main logo -->
        </div>
        <div class="col-xs-2 hidden-md hidden-lg bag-container">
            <div class="icon-bag"></div><!-- bag icon in mobile -->
        </div>
        <div class="col-md-5 col-xs-6 col-xs-offset-3 col-md-offset-0">
            <div class="top-menu hidden-xs hidden-sm"><!-- desktop top menu -->
                <div class="top-menu--item">Sign in / Register</div>
                <div class="top-menu--item">Stores / Stockists</div>
                <div class="top-menu--item">Your Bag (2)</div>
            </div>
            <div class="top-menu hidden-md hidden-lg"><!-- mobile top menu -->
                <div class="top-menu--item">Sign in / Register</div>
                <div class="top-menu--item">Stores</div>
            </div>
        </div>
    </div><!-- header -->
    <div class="row">
        <div class="col-md-12 hidden-xs hidden-sm menu">
            <div *ngFor="let menuItem of menuItems" class="menu--item">
              {{ menuItem.name | uppercase }}
            </div>
        </div>
    </div>
    <div class="row search-box-container">
      <div class="col-md-4 col-xs-12 col-md-offset-4">
          <app-search-box></app-search-box>
      </div>
    </div>
    <div class="image-carousel">
        <carousel>
            <slide *ngFor="let carouselImage of carouselImages">
                <img [src]="carouselImage" alt="">
            </slide>
        </carousel>
    </div>
</div>