@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

.top-menu {
    margin-top: 22px;
    font-size: 13px;
    &--item {
        display: inline-block;
        padding: 0 10px;
        &:not(:last-child) {
            border-right: 1px black solid;
        }
    }
    @media (min-width: 960px) {
        text-align: right;
    }
    @media (max-width: 960px) {
        text-align: center;
    }
}

.menu {
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
    padding-top: 22px;
    font-size: 16px;
    text-align: center;
    &--item {
        display: inline-block;
        padding: 0 15px;
    }
}

.header-logo {
    padding-top: 25px;
    text-align: center;

}

.hamburger-container {
    padding-top: 40px;
    text-align: center;
}

.bag-container {
    padding-top: 35px;
    text-align: center;
}

.icon-logo, .icon-bag, .icon-menu, .icon-search-icon {
    display: inline-block;
}

.search-box-container {
    margin-top: 20px;
}

.image-carousel {
    margin-top: 20px;
}