/* You can add global styles to this file, and also import other style files */



/////////////////////////    Bootstrap 3.7    ////////////////////////////
// We are going to use bootstrap for grid system and reseting css

$screen-md: 960px !default;  //change desktop break point to 960px
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

//***************************************************************************//




///////////////////////   SPRITE  ////////////////////
// Class Definitions  for spritesmith generated sprite
@import "icons-sprite";

.icon-logo {
    @include sprite($logo);
}
.icon-bag {
    @include sprite($bag);
}
.icon-menu {
    @include sprite($menu);
}
.icon-search-icon {
    @include sprite($search-icon);
}
//****************************************************//




/////////////////////  Ropa Sans Font  ///////////////////////
/* latin-ext */
@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Ropa Sans Regular'), local('RopaSans-Regular'), url(https://fonts.gstatic.com/s/ropasans/v6/Sr4SZjJG2shlLRwOkNqcEhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Ropa Sans Regular'), local('RopaSans-Regular'), url(https://fonts.gstatic.com/s/ropasans/v6/QnguTd82yEUxQZygH2gm8FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
//************************************************************//